[Unit]
Description=uWSGI instance to serve ${SERVICE_NAME} project
After=network.target

[Service]
User=${SERVICE_USER}
Group=${SERVICE_GROUP}
WorkingDirectory=${SERVICE_DIR}
ExecStart=${SERVICE_DIR}/env/bin/uwsgi --ini app.ini

[Install]
WantedBy=multi-user.target
